Hello

this is title {{ title }}
<br/>
tihs is sleeper name {{ sleeper }}


this is change title <button (click)="changeTitle()"> changeTitle </button> {{ newtitle }}

<br/>

this is change sleeper <button (click)="changeSleeper()"> changeSleeper </button> {{ newsleeper }}

<br/>

<!-- change title and sleeper <button (click)="changenametosakura("sakura")"> changeTitleAndSleeper </button> -->


change name to sakura <button (click)="changenametosakura('sakura')"> changename </button> {{ name }} 
<br/>

change name to sasa <button (click)="changenametosakura('sasa')"> changename </button> {{ name }}
