<!-- Hello

this is title {{ title }}
<br/>
tihs is sleeper name {{ sleeper }}


this is change title <button (click)="changeTitle()"> changeTitle </button> {{ newtitle }}

<br/>

this is change sleeper <button (click)="changeSleeper()"> changeSleeper </button> {{ newsleeper }}

<br/>



change name to sakura <button (click)="changenametosakura('sakura')"> changename </button> {{ name }} 
<br/>

change name to sasa <button (click)="changenametosakura('sasa')"> changename </button> {{ name }} -->
<!-- change title and sleeper <button (click)="changenametosakura("sakura")"> changeTitleAndSleeper </button> -->


<div> มา 4 จ่าย 3 </div>
<div>
  <!-- Template Reference Variable #priceBufferInput -->
  <!-- Template Reference Variable (หรือ #variableName) ใน Angular ใช้เพื่อเก็บ reference ของ element ใน template ของ Angular ซึ่งจะช่วยให้คุณสามารถเข้าถึง element นั้นๆ จาก code ของ Angular ได้ โดยไม่จำเป็นต้องใช้ Selector  -->
  <input #priceBufferInput type="text" placeholder="ราคาจ้า">
  <!-- ไม่ต้องตั้ง default value ก็ได้ <input #priceBufferInput value="399" type="text" placeholder="ราคาจ้า"> -->
  <button (click)="calbuffet(priceBufferInput.value)">คำนวน</button>
  <p>คนละ {{value}}  บาท</p>
</div>

<div>
  <app-action-bar [step]="5"></app-action-bar>
  <app-action-bar [step]="10" ></app-action-bar>
</div>

<p>clip mai ja</p>
<br>
<br>

<div>
  <button type="button" (click)="testClick()">testEventBinding</button>

  <app-action-bar (numberChange)="testnumberChange($event)" [step]="5" ></app-action-bar>
  <app-action-bar (numberChange)="testnumberChange($event)" [step]="10" ></app-action-bar>
</div>



<!-- property binding ปกติ ใส่ '' ด้านในด้วย -->
<app-max-min-meter [minLabel]="'myMinLabel123'" [maxLabel]="'myMaxLabel123'"
(minChange)="doAppMinChange($event)"
(maxChange)="doAppMaxChange($event)"
></app-max-min-meter>

<!-- ไม่ใส่ '' เลยมอง myMinLabel เป็นตัวแปรตัวแปรนึง  -->
<app-max-min-meter [minLabel]="appMinLabel" [maxLabel]="appMaxLabel"></app-max-min-meter>

<!-- property binding กำหนดค่าตายตัวรูปแบบ string ให้กับ property -->
<app-max-min-meter minLabel="myMinLabel" maxLabel="myMaxLabel"></app-max-min-meter>

<app-square-flex
[divHeight]="squareHeight"
[divWidth]="squareWidth"
></app-square-flex>

<div>
  <div>
    width :
    <button type="button" (click)="squareWidth=50">50px</button>
    <button type="button" (click)="squareWidth=100">100px</button>
    <button type="button" (click)="squareWidth=150">150px</button>
  </div>
  <div>
    height :
    <button type="button" (click)="squareHeight=50">50px</button>
    <button type="button" (click)="squareHeight=100">100px</button>
    <button type="button" (click)="squareHeight=150">150px</button>
  </div>
</div>



<!-- ปกติ -->
<!-- <app-action-bar [counter]="appCounter" (counterChange)="appCounter = $event"></app-action-bar>
<app-square-flex [divWidth]="appCounter"></app-square-flex> -->

<!-- two way binding -->
<app-action-bar [(counter)]="appCounter"
[step]="10"></app-action-bar>
<app-square-flex [divWidth]="appCounter"></app-square-flex>

<!-- *ngIf ไม่แสดง => structural directive-->
<!-- false ทำลาย view => true สร้าง view -->
<!-- <div *ngIf="true"> -->
<div *ngIf="activate else elseTemplate">
  <!-- activate true จะสร้าง action-bar -->
  <app-action-bar ></app-action-bar>
</div>
<ng-template #elseTemplate>
  <!-- activate false จะสร้าง div activate now-->
  <div>
    activate now!
  </div>
</ng-template>
<button type="button" (click)="activate=true" >activate</button>


<app-action-bar [inputDisplay]="false"></app-action-bar>
<app-action-bar [inputDisplay]="true"></app-action-bar>