<!-- <p>action-bar works!</p> -->
<!-- ng generate component action-bar เป็นคำสั่งสร้าง component -->

<div>
  <button (click)="decreaseValue()">-</button>
  <!-- <input #valueforplus type="text" value="0"> -->
  <input
    #valueforplus
    type="text"
    [value]="counter"
    *ngIf="inputDisplay; else elseTemplate"
  />
  <!-- property binding -->
  <!-- <button (click)="increaseValue(valueforplus.value)" > + </button> -->
  <ng-template #elseTemplate>
    <span style="font-size: 20px; font-weight: bold; margin: 0 5px">
      {{ counter }}
    </span>
  </ng-template>
  <button (click)="increaseValue()">+</button>
</div>
